*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
 background: hsla(189, 100%, 50%, 1);

background: linear-gradient(225deg, hsla(189, 100%, 50%, 1) 0%, hsla(234, 45%, 48%, 1) 100%);

background: -moz-linear-gradient(225deg, hsla(189, 100%, 50%, 1) 0%, hsla(234, 45%, 48%, 1) 100%);

background: -webkit-linear-gradient(225deg, hsla(189, 100%, 50%, 1) 0%, hsla(234, 45%, 48%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00D9FF", endColorstr="#444FB3", GradientType=1 );
  overflow: hidden;
  font-family: sans-serif;
}

.attend {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.loaded.attend {
  opacity: 1;
}

.attend--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.attend--status i {
  font-size: 100px;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.attend_like .fa-heart {
  opacity: 0.7;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.attend_nope .fa-remove {
  opacity: 0.7;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.attend--cards {
  flex-grow: 1;
  padding-top: 65px;
  text-align: center;
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  z-index: 1;
}

.attend--card {
  display: inline-block;
  width: 70vw;
  max-width: 360px;
  height: 50vh;
  background-color: #ffffff;
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F81919", endColorstr="#DF6230", GradientType=1 );

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#070200", endColorstr="#000000", GradientType=1 );
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: grab;
  border-left: 2px inset rgba(28,110,164,0.29);
  border-right: 2px inset rgba(28,110,164,0.29);
  border-bottom: 5px inset rgba(28,110,164,0.29);
}

.moving.attend--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.attend--card img {
  max-width: 100%;
  pointer-events: none;
}

.attend--card h3 {
  font-size: 25px;
  padding: 0 16px;
  pointer-events: none;
}

.attend--card p {
  margin-top: 15px;
  font-size: 17px;
  padding: 0 16px;
  font-weight:bold;
  pointer-events: none;
  color: rgb(0, 0, 0);
}

.attend--buttons {
  flex: 0 0 207px;
  text-align: center;
  padding-top: 20px;
}

.attend--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #FFFFFF;
  display: inline-block;
  margin: 0 8px;
}

.attend--buttons button:focus {
  outline: 0;
}

.attend--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.fa-heart {
  color: #e63946;
}

.fa-remove {
  color: #7097b6;
}

img {
  margin: 5px;
  padding-right: 8px;
 border: 2px groove rgba(31, 148, 225, 0.861);
} 
/*logo*/
.logo {

  text-align: center;
  padding: 20px 0;
}


.logo img {
  max-width: 100%;
  height: 100px;
 
  margin: 0 auto;
  border: 0px;
}

@media screen and (max-width: 768px) {
  .logo-container {
    padding: 10px 0;
  }

 
  .logo img {
    max-width: 80%;
  }
}
